services:
  nginx:
    image: openresty/openresty:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx_proxy/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./nginx_proxy/ssl/server.key:/etc/nginx/ssl/private/server.key
      - ./nginx_proxy/ssl/sirienergy_uab_cat.pem:/etc/nginx/ssl/private/sirienergy_uab_cat.pem
    container_name: nginx_proxy

  test_ms1:
    build:
      context: ./test_ms1
    volumes:
      - ./test_ms1/app.py:/app/app.py
    container_name: test_ms1

  test_ms2:
    build:
      context: ./test_ms2
    env_file:
      - ./common/env_files/.env.cookies
    volumes:
      - ./test_ms2/app.py:/app/app.py
    container_name: test_ms2

  user:
    build: 
      context: ./user_ms
    env_file:
      - ./user_ms/.env
      - ./common/env_files/.env.cookies
    volumes:
      - ./user_ms/app.py:/app/app.py
    depends_on:
      - user_db
    container_name: user

  user_db:
    image: postgres:15-alpine
    env_file:
      - ./user_ms/.env
    volumes:
      - userdb_data:/var/lib/postgresql/data
    container_name: user_db

  weather:
    build:
      context: ./weather
    env_file:
      - ./weather/.env
      - ./common/env_files/.env.cookies
    volumes:
      - ./weather/app.py:/app/app.py
    container_name: weather

  

volumes:
  userdb_data: