services:
  nginx:
    image: openresty/openresty:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx_proxy/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./nginx_proxy/ssl/server.key:/etc/nginx/ssl/private/server.key
      - ./nginx_proxy/ssl/sirienergy_uab_cat.pem:/etc/nginx/ssl/private/sirienergy_uab_cat.pem
    container_name: nginx_proxy

  test_ms1:
    build:
      context: ./test_ms1
    volumes:
      - ./test_ms1/app.py:/app/app.py
    container_name: test_ms1

  test_ms2:
    build:
      context: ./test_ms2
    env_file:
      - ./common/env_files/.env.cookies
    volumes:
      - ./test_ms2/app.py:/app/app.py
    container_name: test_ms2

  user:
    build: 
      context: ./user_ms
    env_file:
      - ./user_ms/.env
      - ./common/env_files/.env.cookies
    volumes:
      - ./user_ms/app.py:/app/app.py
    depends_on:
      - user_db
    container_name: user

  user_db:
    image: postgres:15-alpine
    env_file:
      - ./user_ms/.env
    volumes:
      - userdb_data:/var/lib/postgresql/data
    container_name: user_db

  weather:
    build:
      context: ./weather
    env_file:
      - ./weather/.env
      - ./common/env_files/.env.cookies
    volumes:
      - ./weather/app.py:/app/app.py
    container_name: weather

  weather_redis:
    image: redis:7-alpine
    container_name: weather_redis
    volumes:
      - weather_redis_data:/data
    restart: unless-stopped

  redis:
    image: redislabs/rejson:latest
    ports:
      - "6379:6379"
    container_name: redisjson
    volumes:
      - redis_data:/data

  register:
    build:
      context: ./register
    env_file:
      - ./register/.env
      - ./common/env_files/.env.cookies
    volumes:
      - ./register/app.py:/app/app.py
    depends_on:
      - redis
    container_name: register

  entsoe:
    build:
      context: ./entsoe
    env_file:
      - ./entsoe/.env
      - ./common/env_files/.env.cookies
    volumes:
      - ./entsoe/app.py:/app/app.py
      - ./entsoe/tables/entsoe_country_keys.csv:/app/tables/entsoe_country_keys.csv
    container_name: entsoe

  entsoe_redis:
    image: redis:7-alpine
    container_name: entsoe_redis
    volumes:
      - entsoe_redis_data:/data
    restart: unless-stopped

  processing:
    build:
      context: ./processing
    env_file:
      - ./common/env_files/.env.cookies
    volumes:
      - ./processing/app.py:/app/app.py
    container_name: processing

  notifications:
    build:
      context: ./notifications
    env_file:
      - ./common/env_files/.env.cookies
    volumes:
      - ./notifications/app.py:/app/app.py
    container_name: notifications

volumes:
  userdb_data:
  redis_data:
  entsoe_redis_data:
  weather_redis_data: